*{
    margin: 0px;
    padding: 0px;

    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    background: #1D2026;
    min-height: 90vh;
    width: 100%;
    color: #FFFFFF;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

.header nav #title a{
    color: white;
    text-decoration: none;
}

.header nav #title a:hover{
    color: #00986F;
}


#title:hover{
    color: #00986F;
    -webkit-transform: scale(1.2);
    transition: transform 0.25s ease-in;
    font-weight: bold;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

/* nav ul li a:hover{
    color: #00986F;
    text-decoration: underline;
} */


.nav-elements{
    display: inline-block;
    position: relative;
    color: #00986F;
}


.nav-elements::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00986F;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-elements:hover{
    -webkit-transform: scale(1.2);
    transition: transform 0.25s ease-in;
    font-weight: 200;
  }
  
  .nav-elements:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }




button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin-left: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
}

.lamp{
    width: 100%;
}

.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.text-container h1{
    font-size: 80px;
    font-weight: 400;
}

.text-container p{
    margin: 10px 0 40px;
    font-size: 24px;
    line-height: 1.5;
    color: white;
}

.text-container a{
    text-decoration: none;
    background: white;
    padding: 14px 35px;
    display: inline-block;
    color: #00986F;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 30px;
    transition: background 0.5s;

}

.text-container a:hover{
    background: #00986F;
    color: white;
}

.btn-active{
    background: #00986F;
}

.btn-active span{
    background: white;
    margin-left: 31px;

}

.light-on{
    opacity: 1;
}

/* @media(max-width: 700px){
    .header .lamp-container{
        display: none;
    }

    .header .text-container{
        margin: auto;
    }

    .header .text-container h1{
        font-size: 30px;
    }

    .header .text-container p{
        font-size: 20px;
    }

    nav ul li{
        display: block;
    }

    nav {
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
} */



 /* --------- COURSES ------------ */

 .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }

 .course h1{
    font-size: 36px;
    font-weight: 600;
 }

 .course p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
 }

 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
 }

 .course-col{
    flex-basis: 31%;
    background: #d4f6e657;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }

 .course-col a{
    text-decoration: none;
    color: black;
 }

 .course-col a:hover{
    text-decoration: none;
    color: white;
 }

 .course h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

 }

 .course-col p{
    transition: 0.5s;
    font-size: 15px;
    line-height: 1.5;
 }

 .course-col:hover{
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
     background: #00986fa8;
     color: white;
 }

 .course-col:hover p{
    color: white;
 }

 @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
 }



 /* -------- TESTIMONIALS --------- */

 .testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
 }

 .testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #F7F7F7;
    padding: 25px;
    cursor: pointer;
    display: flex;
    transition: 0.5s;
 }

 .testimonial-col img{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
 }

 .testimonial-col p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
 }

 .testimonial-col h3{
    margin-top: 15px;
    text-align: left;
 }

 .testimonial-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

 @media(maxwidth: 700px) {
    .testimonial-col img{
        margin-left: 0;
        margin-right: 15px;
    }
 }





 /* --------- CONTACT US -------- */
 .contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
 }

 .contact h1{
    color: white;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 400;
    padding: 0;
 }

 .contact a{
    text-decoration: none;
    background: white;
    padding: 14px 35px;
    display: inline-block;
    color: #00986F;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 30px;
    transition: background 0.5s;

}

.contact a:hover{
    background: #00986F;
    color: white;
}

@media(maxwidth: 700px){
    .contact h1{
        font-size: 24px;
        padding: 0;
    }
}










/* ------- FOOTER ------- */

.footer {
    background-color: #24262b;
    padding: 70px 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 130px;
    bottom: -10px;
    background-color: #00986F;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li{
    list-style: none;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  /* .footer-col ul li a:hover{
      color: #66f;
  } */
  .footer-col ul li a:hover {
    color: #00986F;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /* /responsive/ */
  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
}
  
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }









/* ----------- ABOUT US Page ----------- */

.sub-header{
    height: 45vh;
    width: 100%;
    background: #1D2026;
    background-size: cover;
    text-align: center;
    color: white;
}

nav #title a{
    color: white;
    text-decoration: none;
}

nav #title a:hover{
    color: #00986F;
}


#title:hover{
    color: #00986F;
    -webkit-transform: scale(1.2);
    transition: transform 0.25s ease-in;
    font-weight: bold;
}

#top-heading{
    font-size: 40px;
    margin-top: 65px;
}

.about-us{
    width: 80%;
    /* margin: auto; */
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
        flex-basis: 48%;
        padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}